<form action="/" method="post">
	Thing ID: <input type="text" name="thing_id" /><br />
	User ID: <input type="text" name="name" /><br />
	Arbitrary key-value pairs:<br />
	<input type="text" name="key_1" /> : <input type="text" name="value_1" /><br />
	<input type="text" name="key_2" /> : <input type="text" name="value_2" /><br />
	<input type="text" name="key_3" /> : <input type="text" name="value_3" /><br />
	<input type="text" name="key_4" /> : <input type="text" name="value_4" /><br />
	<input type="submit">
</form>